$base-color: #212E47;
$base-color-second: #A8B0A5;
$base-color-three: #F8F5D9;
$gold: #B48B75;
$gold-second:#CA7E65;
$light-color: #DDDDDD;
$light-color-second: #CBCBCB;
$text-color:#A8B0A5;
$gray-color: #4B4B4B;
$gray-color-second: #3E3E3E;
$gray-color-three: #707070;
$dark-color: #151515;
$white-color: #ffffff;
$title-size: 20px;
$transtions: 0.4s all;
$red-color: #D96060;
$box-shadow: #F0F0F0 0px 2px 8px 0px;
$border-color: #E0E0E0;
$opacity-box:#a8b0a524;
